<!-- START FULL WIDTH CONTENT -->
<section class="row home-blurbs clear">
    <div class="one-third">
    <img src="../assets/img/icons/about-physicians.png" alt="">
        <h1>About the Christ<span>Hospital Physicians</span></h1> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque adipisci inventore neque fuga cum. Voluptatum pariatur ipsa deleniti blanditiis inventore, similique? Enim expedita, accusamus doloremque excepturi cupiditate iste qui, explicabo.
    </div>
    <div class="one-third">
       <img src="../assets/img/icons/physician.png" alt="">
        <h1>Why Choose a Christ<span>Hospital Physician</span></h1> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque adipisci inventore neque fuga cum. Voluptatum pariatur ipsa deleniti blanditiis inventore, similique? 
        <p><a href="#">Find a Christ Hospital Physician</a></p>
    </div>
    <div class="one-third">
       <img src="../assets/img/icons/locations.png" alt="">
        <h1>Over 25 Locations in<span>the Greater Cincinnati Area</span></h1> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque adipisci inventore neque fuga cum. Voluptatum pariatur ipsa deleniti blanditiis inventore, similique?</p>
        <p>Enim expedita, accusamus doloremque excepturi cupiditate iste qui, explicabo.</p>
        <p><a href="#">Find a Christ Hospital Location</a></p>
    </div>
</section>
